html, body, #root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 80px;
  background: #222;
  color: white;
}

.backdrop {
  height: 200px;
  background: black;
  opacity: 0.4;
  color: white;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

footer {
  height: 100%;
  background: #222;
  color: white;
}
